<div>
    <form *ngIf="usuarioProfessor()" [formGroup]="form" (ngSubmit)="salvar()" class="form grid grid-cols-2 gap-2 mb-5">

    <mat-form-field appearance="fill" class="col-span-2">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col-span-2">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="descricao"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Data de Início</mat-label>
        <input matInput [matDatepicker]="pickerInicio" formControlName="dataInicial">
        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="pickerFinal" formControlName="dataFinal">
        <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
        <mat-datepicker #pickerFinal></mat-datepicker>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">{{!form.get('id')?.value? "Cadastrar nova atividade": "Alterar dados de atividade"}}</button>
    <button *ngIf="form.get('id')?.value" mat-flat-button color="primary" type="submit" (click)="cancelarEdicao()">Cancelar Edição</button>
    </form>


    <div *ngIf="atividades$ | async as atividades">
        <mat-table [dataSource]="atividades">

        <ng-container matColumnDef="titulo">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let atividade"> {{ atividade.titulo?? "" }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let atividade"> {{ atividade.descricao?? "" }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataInicial">
        <mat-header-cell *matHeaderCellDef> Início </mat-header-cell>
        <mat-cell *matCellDef="let atividade"> {{ atividade.dataInicial | date:'dd/MM/yyyy' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataFinal">
        <mat-header-cell *matHeaderCellDef> Fim </mat-header-cell>
        <mat-cell *matCellDef="let atividade"> {{ atividade.dataFinal | date:'dd/MM/yyyy' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let atividade">
            <button mat-button *ngIf="usuarioProfessor()" color="primary" (click)="iniciarEdicao(atividade)">Editar</button>
            <button mat-button *ngIf="usuarioProfessor()" color="warn" (click)="excluir(atividade)">Excluir</button>
        </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    </div>
</div>