<div *ngIf="turma$ | async as turma">

    @if(turma.disciplina && turma.disciplina.nome){
        <h2>{{ turma.disciplina.nome }}</h2>
    }@else if(turma.nome){
        <h2>{{ turma.nome }}</h2>
    }@else{
        <h2>Turma</h2>
    }
    <p>Local: {{turma.local}} | Horário: {{turma.horario}} | Período: {{turma.dataInicial}} a {{turma.dataFinal}}</p>
    <p>Instrutor: <span>{{turma.instrutor?.pessoa?.nome ? (turma.instrutor!.pessoa!.nome + " | " + (turma.instrutor?.email?? "")) : "Não definido"}} </span></p>

    <div *ngIf="turma.id">
        <app-turma-detalhe-matricula [turmaId]="turma.id"></app-turma-detalhe-matricula>
    </div>

    <div>

    </div>
</div>
