<mat-card class="max-w-4xl p-6 shadow-lg">
  <h2 class="text-xl font-semibold mb-6">
    {{ editando ? 'Editar Disciplina' : 'Nova Disciplina' }}
  </h2>

  <form (ngSubmit)="salvar()" class="flex flex-col gap-4">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="disciplina.nome" name="nome" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="disciplina.descricao" name="descricao"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Curso</mat-label>
      <mat-select [(ngModel)]="disciplina.cursoId" name="cursoId" required>
        <ng-container *ngIf="cursos.length > 0; else semCursosOption">
          <mat-option *ngFor="let c of cursos" [value]="c.id">
            {{ c.nome }}
          </mat-option>
        </ng-container>
        <ng-template #semCursosOption>
          <mat-option disabled>
            Nenhum curso cadastrado
          </mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>

    <div class="flex gap-4">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-stroked-button color="warn" type="button" [routerLink]="['/disciplinas']">Cancelar</button>
    </div>
  </form>
</mat-card>
