@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

body { 
    margin: 0; 
    font-family: "Lexend", sans-serif;
    --mdc-filled-text-field-container-color: white;

}
